* {
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    width: 100%;
    display: flex;
    font-size: 18px;
    background-color: rgb(51, 51, 51);
    margin-bottom: 40px;
}

header a {
    text-decoration: none;
    color: white;
}

.menu-left {
    width: 80%;
    padding: 1px 10px;
    margin: 6px;
    font-size: 26px;
}

.menu-right ul {
    display: flex;
    width: 20%;

}

.menu-right li {
    list-style-type: none;
    padding: 11px;
}

.menu-right a {
    padding: 14px 6px;
    margin: 10px;

}

.menu-right a:hover {
    color: black;
    background-color: white;
    cursor: pointer;
}

.container {
    width: 100%;
}

#title-desafios {
    text-align: center;
    font-weight: 500;
    color: rgb(51, 49, 49);
    padding-bottom: 20px;
}

.desafios-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    flex-wrap: wrap;
}

.desafio {
    display: inline-block;
    height: 250px;
    width: 380px;
    font-size: 24px;
    padding: 20px;
    margin: 20px;
    border: 2px solid gainsboro;
    border-radius: 8px;
}

.desafio a {
    color: #242424;
    text-decoration: none;
}

.desafio a:hover {
    color: #757575;
    cursor: pointer;
}

.desafio p {
    font-size: 18px;
    margin-top: 16px;
    color: #5c5c5c;
}

#site-button {
    padding: 5px 10px;
    border-radius: 5px;
    border: solid gray 1px;
    font-weight: 600;
    font-size: 14px;
    background-color: rgb(51, 49, 49);
    color: white;
    margin-top: 10px;
}

#site-button:hover {
    background-color: rgb(71, 71, 71);
    cursor: pointer;
}